{% extends 'pages/base/modelo.html' %}
{% load crispy_forms_tags %}
{% load static %}


{%block titulo%} <title>Deletar Colaborador</title>{% endblock %}  

{% block sidebar %}
{% endblock sidebar %}

{% block navbar %}
{% endblock navbar %}



{% block saudacao %}

{% endblock saudacao %}


{%block conteudo%}
<div class="card align-content-lg-center">
<h1>Deletar o Registro Prefeitura  ?
<h3>Nome: ( {{ prefeitura.nome }} ) </h3>

<h6>Deseja confirmar para deletar ?</h6>

<form method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    


    <button type="submit" class="btn btn-warning">Confirmar</button> 
    <a href="{%url 'prefeitura_new'%}" class="btn btn-dark">Cancelar</a></button>  
</form>
</div>
{% endblock %}   
    

{% block conteudo2 %}

{% endblock conteudo2 %}


{% block footer %}
{% endblock footer %}