{% extends 'pages/base/modelo.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block titulo %}
<title>Cadastro Prefeitura </title>
{% endblock  %}



{% block conteudo %}


    <div class="card row">
                  <div class="card bg-primary-gradient-card p-1">
                    <h3><i class="bi bi-window-plus" style="font-size: 3rem; color: #0090e7;"></i> {{ titulo}}</h3>
                  </div>
                  {% include 'pages/utils/message.html' %}
                  <div class="card-body ">
                    <h4 class="card-title">{{descri}}</h4>
                    <form class="form-group row-cols-2" action="" method="post" >
                      {% csrf_token %}
                      {{form|crispy}}
                      
                    <p class="card-text">Após prencher clique em salvar.</p>
                    
                    <button class="btn btn-primary" type="submit">{{botao}}</button>
                    <a href="{% url 'prefeitura_new' %}" class="btn btn-secondary">Cancelar</a>
                  </form>
                  
                  <div class="card">
                    <div class="card-body ">
                      <h4 class="card-title"><i class="bi bi-list-stars" style="font-size: 2rem; color: #0090e7;"></i> Lista de Prefeituras</h4>
                    {% include 'pages/prefeitura/prefeituralista.html' %}
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>  
  
           
   
{% endblock conteudo %}

{% block conteudo2 %}




{% endblock conteudo2 %}


{% block footer%}

{% endblock %}

