{% extends 'pages/base/modelo.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block styles %}
{% endblock styles %}

{% block titulo %}
<title>::Prefeitura:: </title>
{% endblock  %}





{% block conteudo %}
<div class="card">
{% include 'pages/prefeitura/prefeituraform.html' %}
</div>
{% endblock conteudo %}

{% block conteudo2 %}
<div class="card">
    <div class="card-body ">
      <h4 class="card-title"><i class="bi bi-list-stars" style="font-size: 2rem; color: #0090e7;"></i> Lista de Prefeituras</h4>
    {% include 'pages/prefeitura/prefeituralista.html' %}
    </div>
  </div>

{% endblock conteudo2 %}



