{% extends 'pages/base/modelo.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block titulo %}
<title>Cadastro Usuario </title>
{% endblock  %}



{% block conteudo %}


  
  <div class="card bg-gradient-dark w-100 ">
    <div class="card bg-primary-gradient-card p-3 m-0 w-100">
     <h3><i class="bi bi-window-plus" style="font-size: 3rem; color: #0090e7;"></i> {{ titulo}}</h3>
    </div>
    <div class="card align-content-center text-align-items-center">
      {% include 'pages/utils/message.html' %}
    </div>    

    <div class="card-body  w-100">
        <h4 class="card-title">{{descri}}</h4>

        <form class="form-row" action="" method="post">
          {% csrf_token %}
        
          <div class="form-group col-md-4">
            {{ form.username|as_crispy_field }}
          </div>
        
        
          <div class="form-group col-md-4">
            {{ form.email|as_crispy_field }}
          </div>

          <div class="form-group col-md-4">
            <span></span>
          </div>


          <div class="form-group col-md-4">
            <h3>Grupos Anteriores desse Usuário</h3>
            {%if grupo_anteriores %}
            {{grupos_anteriores}}
            {% else %}
            <p>Nenhum Grupo Selecionado</p>
            {% endif %}
          </div>

          <div class="form-group col-md-4">
            {{ form.grupo|as_crispy_field }}
          </div>

          <div class="form-group col-md-4">
            <span></span>
          </div>

       
         
          <div class="form-group col-md-4">
            {{ form.password1|as_crispy_field }}
          </div>

          <div class="form-group col-md-4">
            {{ form.password2|as_crispy_field }}
          </div>

          <div class="form-group col-md-4">
            {{ form.is_active|as_crispy_field }}
          </div>

          <div class="form-group col-md-4">
            <span></span>
          </div>


        
         
         
         
                
         {% comment %} <div class="form-group col-md-4">
            {{ form.criadopor|as_crispy_field }}
          </div>  {% endcomment %}
          <div class="form-group col-md-12">
            <p class="card-text">Após preencher, clique em salvar.</p>
            <button class="btn btn-primary" type="submit">{{ botao }}</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
            <a href="{% url 'usuario_lista' %}" class="btn btn-info">Listar Usuários</a>
          </div>
        </form>
         
    </div>
 </div> 
       
{% endblock conteudo %}

        

{% block conteudo2 %}
{% endblock conteudo2 %}


{% block footer%}
{% endblock %}

