{% extends 'pages/base/modelo.html' %}
{% load crispy_forms_tags %}
{% load static %}



{%block titulo%} 
<title>Mover Documentos </title>
{% endblock %}



{%block conteudo%}


<div class="card bg-gradient-dark w-100 ">
  <div class="card bg-primary-gradient-card p-3 m-0 w-100">
   <h3><i class="bi bi-window-plus" style="font-size: 3rem; color: #0090e7;"></i> {{ titulo}}</h3>
  </div>
  <div class="card align-content-center text-align-items-center">
    {% include 'pages/utils/message.html' %}
  </div>    
  
  <div class="card-body  w-100">
      <h4 class="card-title"></h4>
      <div class="card col-sm-12 grid-col--2 ">
        <h3>Origem do Documento:</h3>
        <div class="card-body ">
         
        <h3>Nome do Documento: <span style="font-size 54px background: #000;">( {{ documento.nome }} )</span> </h3>
        <h3>Tipo: ( {{ documento.tipo }} ) </h3>
        <h3>Status: {{ documento.status }}  </h3>
        <h3>Data da Criação:  {{ documento.datainicial }}  </h3>
        <h3>local de Origem:  {{ documento.setor.nome }}  </h3>
        </div>
        
          
       
      <form class="form-row" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group col-md-4">
          <h3>Destino do Documento:</h3>
        </div>
        <div class="form-group col-md-4">
          <span></span>
        </div>
        <div class="form-group col-md-4">
          <span></span>
        </div>
      
        <div class="form-group col-md-4">
          {{ form.secretaria|as_crispy_field }}
        </div>
        <div class="form-group col-md-4">
          {{ form.setor|as_crispy_field }}
        </div>
        <div class="form-group col-md-4">
          {{ form.anexo|as_crispy_field }}
        </div>

              
       {% comment %} <div class="form-group col-md-4">
          {{ form.criadopor|as_crispy_field }}
        </div>  {% endcomment %}
        <div class="form-group col-md-12">
          <p class="card-text">Após preencher, clique em salvar.</p>
          <button class="btn btn-primary" type="submit">{{ botao }}</button>
          <a href="{% url 'documento_lista' %}" class="btn btn-secondary">Cancelar</a>
          
        </div>
      </form>
       
  </div>
</div> 

{% endblock  %}

{% block conteudo2 %}
{% endblock conteudo2 %}
