{% extends 'pages/base/modelo.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block titulo %}
<title>Doc View</title>
{% endblock  %}

{% block conteudo %}
<h2>Dados do documento</h2>
<h3>Nome:{{ documento.nome }}</h3>
<p>Numeração: {{documento.numeracao}}</p>
<p>Data de criação: {{ documento.datainicial }}</p>
<p>Origem: 
    {{ documento.prefeitura.nome }},
    {{ documento.secretaria.nome}}
    Setor: {{ documento.setor.nome}}
</p>
<p>Status: {{ documento.status }}</p>


<h2>Histórico de Movimentação</h2>
<ul>
{% for historico in historicos %}
  <li>Data: {{ historico.data_saida }} - Local Origem:  {{ historico.setor.nome }}- Movimentado por {{historico.criadopor}}</li>
{% empty %}
  <li>Nenhum histórico encontrado.</li>
{% endfor %}
</ul>
<a href="{% url 'documento_lista' %}"class="btn btn-warning", title='Voltar'>Voltar</a> 



{% endblock conteudo %}

{% block conteudo2 %}
{% endblock conteudo2 %}
