{% extends 'pages/base/modelo.html' %}
{% load static %}



{%block titulo%} 
<title>Lista de Documentos a Receber </title>
{% endblock %}



{%block conteudo%}
<div class="card ">
    <h4 class="card-title"><i class="bi bi-list-stars" style="font-size: 2rem; color: #0090e7;"></i> Documentos Recebidos</h4>
    <div class="card bg-pri align-content-center text-align-items-center">
        {% include 'pages/utils/message.html' %}
      </div>
    


      
    <div class="table-responsive ">
        <table class="table bg-gradient-dark" >
            <tr class="w-100">
            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex w-100 search " action="?" method="GET">
                <tr style="background: #262424;">
                <thead>   
                   <th>
                    <div></div>
                    <input type="text" name="nome" id="" value="{{request.GET.nome}}" class="form-control" style="width: 300px;"  autocomplete="on" placeholder="Pesquise Nome">
                </th> 
                <th>
                    <div>
                    <button class="btn btn-primary" id="button" type="submit">Buscar</button>
                    <a class="btn btn-primary" href="{% url 'documento_lista'%}">Limpar</a>
                </div>
                </th>
                 <th >
                    <form class="form-check form-switch " action="?" method="GET">
                        <div class="form-check form-switch m-2">
                        <label class="mdi-label"  for="registrado">Registrado:</label>
                        <input  type="checkbox" name="status" id="registrado" value="registrado">

                        <label class="mdi-label"  for="enviado">Enviado:</label>
                        <input  type="checkbox" name="status" id="enviado" value="enviado">

                        {% comment %} <label class="mdi-label"  for="recebido">Recebido:</label>
                        <input  type="checkbox" name="status" id="inativo" value="inativo"> {% endcomment %}
                        <button class="btn btn-primary ml-2" id="button" type="submit">Filtrar</button>
                        </div>
                    </form>
                </th> 
            </tr>
            </form>
        </tr>
    </thead>
            
        <thead>
            <tr>
                <th style="width: 30%; font-size: 1rem; color: #0090e7;"><strong>Nome</strong></th>
                <th style="width: 10%; font-size: 1rem; color: #0090e7;"><strong>Numeração</strong></th>
                <th style="width: 20%; font-size: 1rem; color: #0090e7;"><strong>Tipo</strong></th> 
                <th style="width: 20%; font-size: 1rem; color: #0090e7;"><strong>Origem</strong></th> 
                <th style="width: 20%; font-size: 1rem; color: #0090e7;"><strong>Operador</strong></th> 
                <th style="width: 20%; font-size: 1rem; color: #0090e7;"><strong>Status</strong></th>
                <th style="width: 20%; font-size: 1rem; color: #0090e7;"><strong>Opções</strong></th>
            </tr>
        </thead>
            
            {%for documento in documentos %}
            {% if documento.criadopor_id != user.id and documento.status != 'recebido' and documento.status != 'registrado' %}
            
            
            <tbody>      
            <tr style="margin: 20px;">
                <td style="width: 30%; font-size: 1rem; color: #ebe6f2; ">{{documento.nome}}</td>
                <td style="width: 10%; font-size: 1rem; color: #ebe6f2; ">{{documento.numeracao}}</td>
                <td style="width: 20%; font-size: 1rem; color: #ebe6f2;">{{documento.tipo}}</td>
                <td style="width: 20%; font-size: 1rem; color: #ebe6f2;">{{documento.setor.nome}}</td>
                <td style="width: 20%; font-size: 1rem; color: #ebe6f2;">{{documento.criadopor}}</td>
                <td style="width: 20%; font-size: 1rem; color: #ebe6f2; ">{{documento.status}}</td>

                <td>
                    {%if documento.status == 'enviado' %}
                    <a href="{% url 'documento_recebido' documento.id %}"class="btn btn-primary", title='Receber'><i class="bi bi-pencil-square" style="font-size: 1rem; ">Receber</i></a> 
                    {% endif %}

                   
                </td>
                {% endif %}  
                 </tr>
                </tbody>
                 {% comment %} {% if user.groups.all.0.name == 'ADM' %}      
            <tr style="margin: 20px;">
                <td style="font-size: 1rem; color: #ebe6f2; margin-left: 80px;">{{documento.nome}}</td>
                <td style="font-size: 1rem; color: #ebe6f2; margin-left: 80px;">{{documento.numeracao}}</td>
                <td style="font-size: 1rem; color: #ebe6f2; ">{{documento.tipo}}</td>
                <td style="font-size: 1rem; color: #ebe6f2; margin-left: 80px;">{{documento.status}}</td>

                <td>
                    <a href=""class="btn btn-warning", title='Status Enviado'><i class="bi bi-pencil-square" style="font-size: 1rem; color: cornflowerblue;">Enviado</i></a> 
                    <a href=""class="btn btn-danger", title='Deletar'  ><i class="bi bi-trash"></i></a>
                    <a href=""class="btn btn-bg-success", title='pdf'  ><i class="bi bi-filetype-pdf"></i></a>
                
                    

                </td>
                {% endif %}  
                 </tr>
                {%empty%}
                <tr>
                <td>Nenhum Setor Registrado</td>
                </tr>    {% endcomment %}
                
            
            {%endfor%} 
        </table>
        <ul class="pagination justify-content-center">
    
            {% if page_obj.has_previous %}
    
                {% if request.GET.nome %}
                <li class="page-item"><a class="page-link" href="?page=1&nome={{request.GET.nome}}">&laquo; Primeira</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{request.GET.nome}}">Anterior</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %}
    
            {% endif %}
        
            <li class="page-item">
                <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
            </li>
        
            {% if page_obj.has_next %}
                {% if request.GET.nome %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{request.GET.nome}}">Próxima</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome={{request.GET.nome}}">Última &raquo;</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
                {% endif %}
            {% endif %}
        
        </ul>


</div>  




  
  {% endblock conteudo%}

 
  {% block conteudo2 %}
  {% endblock conteudo2 %}
  
  
  {% block footer%}
  {% endblock %}
  